<!DOCTYPE html>
<html>
<head><title>Tusky Walrus Upload</title></head>
<body>
  <h1>Tusky Walrus File Upload</h1>
  <form action="/tusky-walrus/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="file" required />
    <button type="submit">Upload</button>
  </form>
</body>
</html>
